footer {
background-color: $color-oliva;
color: $color-fondo;
padding: 20px;
text-align: center;

p { 
  color: $color-fondo;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
  }

}