footer {
background-color: $color-oliva;
color: $color-texto-claro;
padding: 20px;
text-align: center;

a { color: $color-texto-claro;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
  }

}