header {
    background-color: $color-secundario; /* Mantiene la franja oscura superior */
    padding: 20px;
    text-align: center;

    h1 {
        letter-spacing: 5px; /* Espaciado ancho característico del proyecto */
    }

    nav {
        margin-top: 15px;
        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;

            li {
                margin: 0 15px;

                a {
                    text-decoration: none;
                    color: $color-texto-claro; /* Texto claro para que sea legible */
                    font-weight: bold;

                    &:hover {
                        color: $color-primario; /* Cambio a dorado en hover */
                    }
                }
            }
        } 
    }
}