header {
    background-color: $color-secundario;
    padding: 20px;
    text-align: center;

    nav{
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;

            li {
                margin: 0 15px;

                a {
                    text-decoration: none;
                    color: $color-primario;
                    font-weight: bold;

                    &:hover {
                        color: $color-terciario;
                    }
                }
            }
    } 

    }